<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="utf-8">
        <link rel="stylesheet" href={{ url_for('static',filename='styles.css') }}/>
        <title>Check this out!</title>
    </head>
    <body>
        <h1>{{ name }}</h1>
        <!--<h3>Top songs</h2>-->
        <!--{% for i in songs %}-->
        <!--<h2>{{ i["name"] }}</h2>-->
        <!--{% endfor %}-->
        <h1>Preview</h1>
        <p>{{ song["name"] }}</p>
        <p>
            <audio controls>
                <source src="{{ song['preview'] }}"></source>
            </audio>
        </p>
        <img src="{{ song['image'] }}"></img>
        <p><a href="{{ lyric }}">Listen to the lysics here</a></p>
    </body>
</html>