<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="utf-8">
        <link rel="stylesheet" href={{ url_for('static',filename='styles.css') }}/>
        <title>Check this out!</title>
    </head>
    <body>
        <form method="POST">
                <input type="text" name="text" required>
                <input placeholder="Search again..." type="submit">
        </form>
        <h1>{{ name }}</h1>
        <h2>{{ song["name"] }}</h2>
        <p>
            <audio controls>
                <source src="{{ song['preview'] }}"></source>
            </audio>
        </p>
        <img src="{{ song['image'] }}"></img>
        <p><a href="{{ lyric }}">See the lysics here!</a></p>
        {{ info | safe }}
    </body>
</html>